* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana,  Tahoma, sans-serif;
    line-height: 1.8em;
}

/* make all buttons and choice list items behave like a link */
button, 
#question-choices-list li {
    background-color: navy;
    color: white;
    cursor: pointer;
}

/* when user clicks, change the background color to make it more interactive */
button:active, 
#question-choices-list li:active {
    background-color: rgb(213, 51, 167);
}

#timer-container {
    display: flex;
    font-size: 1.1em;
    justify-content: space-between;
    margin: 10px 25px 100px 25px;
}

/* make the <p> behave like a link */
#timer-container p:first-child {
    color: blue;
}

#timer-container p:first-child:hover{
    cursor: pointer;
}

#timer-text {
    margin-left: 5px;
}

#intro-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.3em;
    height: 275px;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    width: 50%; 
}

#start-quiz-button {
    border-radius: 10px;
    font-size: 1.1em;
    height: 50px;
    width: 200px;
}

#question-container {
    align-items: start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: auto;
    padding-left: 80px;
    width: 75%; 
}

#question-text{
    flex: 100%;
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 10px;;
}

/* make the ordered list items show up inside the border */
#question-choices-list {
    list-style: decimal inside;
}

#question-choices-list li{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.2em;
    margin-top: 15px;
    padding: 8px 20px 8px 20px;
}

#answer-message-container {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    padding-left: 80px;
    width: 75%; 
}

#answer-message-container hr{
    border: 1px solid grey;
    flex: 100%;
    font-weight: lighter;
    margin-top:45px;
}

#answer-message-text {
    color: gray;
    font-size: 1.8em;
    font-style: italic;
    font-weight: lighter;
    margin-top: 10px;
}

#final-score-container {
    align-items: start;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.3em;
    height: 135px;
    justify-content: space-between;
    margin: auto;
    padding-left: 80px;
    width: 75%; 
}

#final-score-container p  {
    margin-top: 15px;
    font-size: 1.3em;
}

#final-score-initials-form {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.3em;
    /* justify-content: space-between; */
    width: 100%;
}

#final-score-initials-form label{
    margin-top: 15px;
}

#final-score-initials-text {
    font-size: .8em;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
    width: 20%;
}

#submit-score-button {
    border-radius: 10px;
    height: 30px;
    font-size: .60em;
    margin-left: 10px;
    margin-top: 15px;
    width: 10%;
}

#high-scores-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.2em;
    height: 350px;
    justify-content: space-evenly;
    margin: 100px auto;
}

#high-scores-list {
    border-radius: 5px;
    color: red;
    font-weight: bold;
    line-height: 1.5em;
    list-style: decimal inside;
}

#button-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#go-back-button, #clear-scores-button {
    flex: 15%;
    border-radius: 12px;
    font-size: .8em;
    height: 40px;
    margin: 0 15px;
}