* {
    box-sizing: border-box;
    /* padding: 0; */
    /* margin: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p:first-child {
    color: blue;
}

header p:first-child:hover {
    cursor: grab;
}

/* .choice {
    display: list-item;
} */